# Version manager configuration                                                                                                                                                                                                  
vmanager: {
    # The host name of the version manager                                                                                                                                                                                       
    host = "127.0.0.1";
    # The name of the service (tcp port number) to listen to                                                                                                                                                                     
    service = "22220";
};

# Provider manager configuration                                                                                                                                                                                                 
pmanager: {
    host = "127.0.0.1";
    service = "11110";
};

# Provider configuration                                                                                                                                                                                                         
provider: {
    service = "12350";
    # Maximal number of pages to be cached                                                                                                                                                                                       
    cacheslots = 1024;
    # Update rate: when reaching this number of updates report to provider manager                                                                                                                                               
    urate = 100;
    dbname = "/tmp/blobseer/provider/db/provider.db";
    #dbname = "";                                                                                                                                                                                                                
    # Total space available to store pages, in MB (512MB here)                                                                                                                                                                   
    space = 65536;
    # Use compression?                                                                                                                                                                                                           
    compression = false; #provider                                                                                                                                                                                               
    # How many times to retry from client side before giving up                                                                                                                                                                  
    retry = 1;
};

# Built in DHT service configuration                                                                                                                                                                                             
sdht: {
    # Maximal number of hash values to be cached                                                                                                                                                                                 
    cacheslots = 1048576;
    dbname = "/tmp/blobseer/sdht/db/sdht.db";
    #dbname = "";                                                                                                                                                                                                                
    # Total space available to store hash values, in MB (32MB here)                                                                                                                                                              
    space = 8192;
    # Use compression?                                                                                                                                                                                                           
    compression = false;
};

# Client side DHT access interface configuration                                                                                                                                                                                 
dht: {
    # The service name of the DHT service (currently tcp port number the provider listens to)                                                                                                                                    
    service = "12340";
    # List of machines running the builtin dht (sdht)                                                                                                                                                                            
    gateways = (
        "127.0.0.1"
    );
    # Timeout                                                                                                                                                                                                                    
    timeout = 10;
    # How many times to try before giving up                                                                                                                                                                                     
    replication = 1;
    # How big the client's cache for dht entries is                                                                                                                                                                              
    cachesize = 1048576;
};
